[submodule "ether-parent"]
	path = ether-parent
	url = git@github.com:rafex/ether-parent.git
	branch = main
[submodule "ether-jwt"]
	path = ether-jwt
	url = git@github.com:rafex/ether-jwt.git
	branch = main
[submodule "ether-json"]
	path = ether-json
	url = git@github.com:rafex/ether-json.git
	branch = main
[submodule "ether-http-jetty12"]
	path = ether-http-jetty12
	url = git@github.com:rafex/ether-http-jetty12.git
	branch = main
[submodule "ether-http-core"]
	path = ether-http-core
	url = git@github.com:rafex/ether-http-core.git
	branch = main
[submodule "ether-websocket-jetty12"]
	path = ether-websocket-jetty12
	url = git@github.com:rafex/ether-websocket-jetty12.git
	branch = main
[submodule "ether-websocket-core"]
	path = ether-websocket-core
	url = git@github.com:rafex/ether-websocket-core.git
	branch = main
[submodule "ether-glowroot-jetty12"]
	path = ether-glowroot-jetty12
	url = git@github.com:rafex/ether-glowroot-jetty12.git
	branch = main
[submodule "ether-config"]
	path = ether-config
	url = git@github.com:rafex/ether-config.git
	branch = main
[submodule "ether-http-security"]
	path = ether-http-security
	url = git@github.com:rafex/ether-http-security.git
	branch = main
[submodule "ether-webhook"]
	path = ether-webhook
	url = git@github.com:rafex/ether-webhook.git
	branch = main
[submodule "ether-http-client"]
	path = ether-http-client
	url = git@github.com:rafex/ether-http-client.git
	branch = main
[submodule "ether-http-problem"]
	path = ether-http-problem
	url = git@github.com:rafex/ether-http-problem.git
	branch = main
[submodule "ether-observability-core"]
	path = ether-observability-core
	url = git@github.com:rafex/ether-observability-core.git
	branch = main
[submodule "ether-http-openapi"]
	path = ether-http-openapi
	url = git@github.com:rafex/ether-http-openapi.git
	branch = main
[submodule "ether-database-core"]
	path = ether-database-core
	url = git@github.com:rafex/ether-database-core.git
	branch = main
[submodule "ether-jdbc"]
	path = ether-jdbc
	url = git@github.com:rafex/ether-jdbc.git
	branch = main
[submodule "ether-database-postgres"]
	path = ether-database-postgres
	url = git@github.com:rafex/ether-database-postgres.git
	branch = main
[submodule "ether-ai-core"]
	path = ether-ai-core
	url = git@github.com:rafex/ether-ai-core.git
	branch = main
[submodule "ether-ai-openai"]
	path = ether-ai-openai
	url = git@github.com:rafex/ether-ai-openai.git
	branch = main
[submodule "ether-ai-deepseek"]
	path = ether-ai-deepseek
	url = git@github.com:rafex/ether-ai-deepseek.git
	branch = main
[submodule "ether-logging-core"]
	path = ether-logging-core
	url = git@github.com:rafex/ether-logging-core.git
	branch = main
[submodule "ether-crypto"]
	path = ether-crypto
	url = git@github.com:rafex/ether-crypto.git
	branch = main
[submodule "ether-archetype"]
	path = ether-archetype
	url = git@github.com:rafex/ether-archetype.git
