[submodule "ether-parent"]
	path = ether-parent
	url = git@github.com:rafex/ether-parent.git
[submodule "ether-jwt"]
	path = ether-jwt
	url = git@github.com:rafex/ether-jwt.git
[submodule "ether-json"]
	path = ether-json
	url = git@github.com:rafex/ether-json.git
